<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

  <title>Statistics</title>

  
</head>
<body>
	<p>Dies ist meine Index-Ansicht</p>
	<form action="{% url "mystats_app:added" %}" method="post">
		{% csrf_token %}
		
		<label>Eintrag:</label>
		<input type="text" name="action_name">
	<br>
		{% for action in actions %}
			{{action.entry_date }} {{action.action_text}} <!-- for entry in liste: print entry -->
			<br>
		{% endfor %}
</body>
</html>
